node-red/data/flows.json
[
    {
        "id": "9d30db35b2d540ea",
        "type": "tab",
        "label": "Production",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39ac75246186f68c",
        "type": "tab",
        "label": "IRIS SQL",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ea9d5a0268cb260",
        "type": "tab",
        "label": "Messages",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d3e5690d3717bcbf",
        "type": "tab",
        "label": "Create Table",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aa199874e4c9e9fa",
        "type": "InterSystemsIRISConfig",
        "name": "_SYSTEM@iris:1972/USER",
        "host": "iris",
        "hostFieldType": "str",
        "port": "1972",
        "portFieldType": "num",
        "namespace": "USER",
        "namespaceFieldType": "str",
        "username": "_SYSTEM",
        "usernameFieldType": "str",
        "password": "SYS",
        "passwordFieldType": "str"
    },
    {
        "id": "6d23db44.1697d4",
        "type": "ui_tab",
        "name": "Main Tab",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4e50e243620366ca",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4dfb5076cb1a0120",
        "type": "ui_group",
        "name": "Latest errors",
        "tab": "c421a1d4cb778a58",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c421a1d4cb778a58",
        "type": "ui_tab",
        "name": "Production",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "606a633165fb68f2",
        "type": "ui_group",
        "name": "Top SubReddits",
        "tab": "c421a1d4cb778a58",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d5f1d26db6e55a1",
        "type": "ui_group",
        "name": "Default",
        "tab": "6d23db44.1697d4",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "019313c909cf5cc1",
        "type": "ui_group",
        "name": "demo",
        "tab": "6d23db44.1697d4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f17e3a3.4c85ac",
        "type": "ui_tab",
        "name": "Create Table demo",
        "icon": "create",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb135bc2.cc3d9",
        "type": "ui_tab",
        "name": "Anomaly",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c19ad70c257cbd31",
        "type": "ui_group",
        "name": "Table",
        "tab": "5f17e3a3.4c85ac",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6069649c75a95958",
        "type": "intersystems iris",
        "z": "39ac75246186f68c",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 660,
        "y": 200,
        "wires": [
            [
                "a02e1c8985a0105e"
            ]
        ]
    },
    {
        "id": "3630c9019d215784",
        "type": "comment",
        "z": "39ac75246186f68c",
        "name": "Welcome to the demo of ability of using InterSystems IRIS in Node-RED \\n \\n Press small buttons on each inject nodes (on the left), to see it in action",
        "info": "Welcome to the demo of ability of using InterSystems IRIS in Node-RED\n\\n\n\\n\nPress small buttons on each inject nodes (on the left), to see it in action\n",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "c63decc738ffb86b",
        "type": "inject",
        "z": "39ac75246186f68c",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "8f1cbff8a58b2835"
            ]
        ]
    },
    {
        "id": "346bfd5c1c652f11",
        "type": "debug",
        "z": "39ac75246186f68c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "99c6f2ca2aa3036b",
        "type": "inject",
        "z": "39ac75246186f68c",
        "name": "DROP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "7724b0c3580f8ea1"
            ]
        ]
    },
    {
        "id": "a02e1c8985a0105e",
        "type": "debug",
        "z": "39ac75246186f68c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "49b7cf927e386b70",
        "type": "intersystems iris",
        "z": "39ac75246186f68c",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 660,
        "y": 260,
        "wires": [
            [
                "346bfd5c1c652f11"
            ]
        ]
    },
    {
        "id": "ea2c82a453efa3d2",
        "type": "inject",
        "z": "39ac75246186f68c",
        "name": "INSERT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "room",
                "v": "$random() < 0.5 ? 503 : 602",
                "vt": "jsonata"
            },
            {
                "p": "id",
                "v": "$random() < 0.5 ? 9909 : 1893",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "ddf15e9e93d0edd6"
            ]
        ]
    },
    {
        "id": "02d82f1b2ca3e868",
        "type": "debug",
        "z": "39ac75246186f68c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "$string(payload,true)",
        "targetType": "jsonata",
        "statusVal": "$join([\"affected_rows\", $string(payload.affected_rows)], \" :\")\t",
        "statusType": "jsonata",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "630cabde7bab6ecf",
        "type": "inject",
        "z": "39ac75246186f68c",
        "name": "DELETE ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 380,
        "wires": [
            [
                "275dfd558309004f"
            ]
        ]
    },
    {
        "id": "7ffcda2e8cfeb347",
        "type": "debug",
        "z": "39ac75246186f68c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "$string(payload,true)",
        "targetType": "jsonata",
        "statusVal": "$join([\"affected_rows\", $string(payload.affected_rows)], \" :\")\t",
        "statusType": "jsonata",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "e19e2c35133cf699",
        "type": "inject",
        "z": "39ac75246186f68c",
        "name": "UPDATE",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "273e36fb10977c07"
            ]
        ]
    },
    {
        "id": "1fa905a7b3ad2101",
        "type": "debug",
        "z": "39ac75246186f68c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "$string(payload,true)",
        "targetType": "jsonata",
        "statusVal": "$join([\"affected_rows\", $string(payload.affected_rows)], \" :\")\t",
        "statusType": "jsonata",
        "x": 880,
        "y": 440,
        "wires": []
    },
    {
        "id": "7006ee6c1be362eb",
        "type": "inject",
        "z": "39ac75246186f68c",
        "name": "COUNT",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "22e523e3ba44a288"
            ]
        ]
    },
    {
        "id": "85f92b0d8e559f70",
        "type": "debug",
        "z": "39ac75246186f68c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload[0].cnt",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "f5d4d8998327ccde",
        "type": "intersystems iris",
        "z": "39ac75246186f68c",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 660,
        "y": 320,
        "wires": [
            [
                "02d82f1b2ca3e868"
            ]
        ]
    },
    {
        "id": "54de784f7cde1823",
        "type": "intersystems iris",
        "z": "39ac75246186f68c",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 660,
        "y": 380,
        "wires": [
            [
                "7ffcda2e8cfeb347"
            ]
        ]
    },
    {
        "id": "3a164f918bbc4b07",
        "type": "intersystems iris",
        "z": "39ac75246186f68c",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 660,
        "y": 440,
        "wires": [
            [
                "1fa905a7b3ad2101"
            ]
        ]
    },
    {
        "id": "12306ea6b69d57c3",
        "type": "intersystems iris",
        "z": "39ac75246186f68c",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 660,
        "y": 500,
        "wires": [
            [
                "85f92b0d8e559f70"
            ]
        ]
    },
    {
        "id": "691d31dc1708fb57",
        "type": "inject",
        "z": "39ac75246186f68c",
        "name": "SELECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "limit",
                "v": "20",
                "vt": "num"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 260,
        "y": 560,
        "wires": [
            [
                "b026a9e86363fe27"
            ]
        ]
    },
    {
        "id": "e6aab76f603d9a95",
        "type": "function",
        "z": "39ac75246186f68c",
        "name": "Date to TS",
        "func": "\nfor(var i = 0; i < msg.payload.length; i++){\n    var dd = new Date(parseInt((new Date(msg.payload[i].date).getTime()).toFixed(0)));\n    msg.payload[i].date = dd.toLocaleTimeString('en-US');\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 620,
        "wires": [
            [
                "5df8d2d4ee83c425"
            ]
        ]
    },
    {
        "id": "57da9baadc916cd5",
        "type": "link out",
        "z": "39ac75246186f68c",
        "name": "",
        "links": [
            "d5f68b78.692828",
            "01e89513ccd3fd74",
            "33c14cb5.0c0b14",
            "8b2213ea.cbdaa"
        ],
        "x": 835,
        "y": 560,
        "wires": []
    },
    {
        "id": "01e89513ccd3fd74",
        "type": "link in",
        "z": "39ac75246186f68c",
        "name": "",
        "links": [
            "57da9baadc916cd5"
        ],
        "x": 295,
        "y": 620,
        "wires": [
            [
                "e6aab76f603d9a95"
            ]
        ]
    },
    {
        "id": "d2c039515357b0d4",
        "type": "intersystems iris",
        "z": "39ac75246186f68c",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 660,
        "y": 560,
        "wires": [
            [
                "57da9baadc916cd5"
            ]
        ]
    },
    {
        "id": "5df8d2d4ee83c425",
        "type": "ui_template",
        "z": "39ac75246186f68c",
        "group": "6d5f1d26db6e55a1",
        "name": "",
        "order": 1,
        "width": "10",
        "height": "10",
        "format": "\n        \n<table style=\"width:100%\">\n  <tr>\n    <th>Index</th> \n    <th>Time</th>\n    <th>Room</th> \n    <th>ID</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:10\">\n    <td><center>{{$index + 1}}</center></td>\n    <td><center>{{msg.payload[$index].date}}</center></td>\n    <td><center>{{msg.payload[$index].room}}</center></td> \n    <td><center>{{msg.payload[$index].id}}</center></td>\n  </tr>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "63a04f43fdbf3705",
        "type": "intersystems iris",
        "z": "9d30db35b2d540ea",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "e301af9f3acfc5af"
            ]
        ]
    },
    {
        "id": "505b3b4ee341533c",
        "type": "function",
        "z": "9d30db35b2d540ea",
        "name": "",
        "func": "\nreturn {\n    \"topic\": \"select top 20 count(*) cnt,%exact(subreddit) SubReddit from dc_reddit.post group by subreddit order by cnt desc\"\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "63a04f43fdbf3705"
            ]
        ]
    },
    {
        "id": "f05b858df53a8669",
        "type": "inject",
        "z": "9d30db35b2d540ea",
        "name": "SubReddit Top 20",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "505b3b4ee341533c"
            ]
        ]
    },
    {
        "id": "e301af9f3acfc5af",
        "type": "ui_template",
        "z": "9d30db35b2d540ea",
        "group": "606a633165fb68f2",
        "name": "Top subreddits",
        "order": 1,
        "width": "10",
        "height": "10",
        "format": "\n        \n<table style=\"width:100%\">\n  <tr>\n    <th>#</th> \n    <th>SubReddit</th> \n    <th>Count</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index + 1}}</td>\n    <td>{{msg.payload[$index].SubReddit}}</td>\n    <td><center>{{msg.payload[$index].cnt}}</center></td> \n  </tr>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f4027d74e1aaa915",
        "type": "function",
        "z": "9d30db35b2d540ea",
        "name": "",
        "func": "\nreturn {\n    \"topic\": \"select count(*) cnt from dc_reddit.post\"\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 300,
        "wires": [
            [
                "e6ba2963394fad5d"
            ]
        ]
    },
    {
        "id": "e6ba2963394fad5d",
        "type": "intersystems iris",
        "z": "9d30db35b2d540ea",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "b93b4a1f927c9abf"
            ]
        ]
    },
    {
        "id": "c180b40edebb5bea",
        "type": "inject",
        "z": "9d30db35b2d540ea",
        "name": "Count reddit posts",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "f4027d74e1aaa915"
            ]
        ]
    },
    {
        "id": "b93b4a1f927c9abf",
        "type": "function",
        "z": "9d30db35b2d540ea",
        "name": "",
        "func": "var value = parseInt(msg.payload[0].cnt, 10);\nreturn {\n    payload: value\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "db9abe8143a36026"
            ]
        ]
    },
    {
        "id": "e93f4015ab897039",
        "type": "inject",
        "z": "9d30db35b2d540ea",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"cnt\":1234}]",
        "payloadType": "json",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "b93b4a1f927c9abf"
            ]
        ]
    },
    {
        "id": "210197874984f4f0",
        "type": "ui_chart",
        "z": "9d30db35b2d540ea",
        "name": "",
        "group": "4dfb5076cb1a0120",
        "order": 2,
        "width": "20",
        "height": "7",
        "label": "Messages",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "87f44287cff0b522",
        "type": "inject",
        "z": "9d30db35b2d540ea",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[   {     \"TimeCreated\": \"2021-10-19 10:00:22\",     \"Cnt\": 28   },   {     \"TimeCreated\": \"2021-10-19 10:00:07\",     \"Cnt\": 18   },   {     \"TimeCreated\": \"2021-10-19 09:59:52\",     \"Cnt\": 15   },   {     \"TimeCreated\": \"2021-10-19 09:59:51\",     \"Cnt\": 1   },   {     \"TimeCreated\": \"2021-10-19 09:59:36\",     \"Cnt\": 18   },   {     \"TimeCreated\": \"2021-10-19 09:59:21\",     \"Cnt\": 19   },   {     \"TimeCreated\": \"2021-10-19 09:59:06\",     \"Cnt\": 20   },   {     \"TimeCreated\": \"2021-10-19 09:58:50\",     \"Cnt\": 30   },   {     \"TimeCreated\": \"2021-10-19 09:58:35\",     \"Cnt\": 22   },   {     \"TimeCreated\": \"2021-10-19 09:58:20\",     \"Cnt\": 19   } ]",
        "payloadType": "json",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "0d2ea8cd7a6832ae"
            ]
        ]
    },
    {
        "id": "0d2ea8cd7a6832ae",
        "type": "function",
        "z": "9d30db35b2d540ea",
        "name": "",
        "func": "\nlet series = [\"Count\"];\nlet labels = [\"\"];\n\nlet data = [msg.payload.map(el => {\n    return {\n        \"x\": new Date(el.TimeCreated).getTime(),\n        \"y\": el.Cnt\n    }\n})];\n\nreturn {\n    \"topic\": \"test\",\n    \"payload\": [{ series, data, labels }]\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 420,
        "wires": [
            [
                "210197874984f4f0"
            ]
        ]
    },
    {
        "id": "6fc973307b714428",
        "type": "inject",
        "z": "9d30db35b2d540ea",
        "name": "clear",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 810,
        "y": 360,
        "wires": [
            [
                "210197874984f4f0",
                "db9abe8143a36026"
            ]
        ]
    },
    {
        "id": "c02e4db9589e7c67",
        "type": "inject",
        "z": "9d30db35b2d540ea",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "0cc9f18e78149ffa"
            ]
        ]
    },
    {
        "id": "fe80d04e415db6ab",
        "type": "intersystems iris",
        "z": "9d30db35b2d540ea",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "0d2ea8cd7a6832ae"
            ]
        ]
    },
    {
        "id": "0cc9f18e78149ffa",
        "type": "function",
        "z": "9d30db35b2d540ea",
        "name": "",
        "func": "\nreturn {\n    \"topic\": \"select $piece(timecreated,'.',1) TimeCreated,count(*) Cnt  from ens.messageheader group by $piece(timecreated,'.',1) order by timecreated desc\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "fe80d04e415db6ab"
            ]
        ]
    },
    {
        "id": "b7e6fc7183befd79",
        "type": "intersystems iris",
        "z": "9d30db35b2d540ea",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 560,
        "y": 500,
        "wires": [
            [
                "3ff53cd130f03762"
            ]
        ]
    },
    {
        "id": "984ed651ac849cd7",
        "type": "function",
        "z": "9d30db35b2d540ea",
        "name": "",
        "func": "\nreturn {\n    \"topic\": \"select timelogged, text from Ens_Util.Log where type=2 order by TimeLogged Desc\"\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "b7e6fc7183befd79"
            ]
        ]
    },
    {
        "id": "75a309b6c8563de5",
        "type": "inject",
        "z": "9d30db35b2d540ea",
        "name": "Production Errors",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "984ed651ac849cd7"
            ]
        ]
    },
    {
        "id": "3ff53cd130f03762",
        "type": "ui_template",
        "z": "9d30db35b2d540ea",
        "group": "4dfb5076cb1a0120",
        "name": "Latest Errors",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "\n        \n<table style=\"width:100%\">\n  <tr>\n    <th>Time</th> \n    <th>Text</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:10\">\n    <td>{{msg.payload[$index].TimeLogged}}</td>\n    <td>{{msg.payload[$index].Text}}</td> \n  </tr>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1010,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "db9abe8143a36026",
        "type": "ui_text",
        "z": "9d30db35b2d540ea",
        "group": "606a633165fb68f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reddit posts",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "92cfacca1d78eae5",
        "type": "ui_button",
        "z": "9d30db35b2d540ea",
        "name": "Manual refresh",
        "group": "4dfb5076cb1a0120",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "Manual refresh",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "505b3b4ee341533c",
                "f4027d74e1aaa915",
                "0cc9f18e78149ffa",
                "984ed651ac849cd7"
            ]
        ]
    },
    {
        "id": "7e52b9059ce6c575",
        "type": "intersystems iris",
        "z": "1ea9d5a0268cb260",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 580,
        "y": 360,
        "wires": [
            [
                "bab1fc6247c40495",
                "21494acd375d9d81"
            ]
        ]
    },
    {
        "id": "faf019012916d3ae",
        "type": "inject",
        "z": "1ea9d5a0268cb260",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "7d835454d0ee8a2a"
            ]
        ]
    },
    {
        "id": "43d00f5f9b12d0e3",
        "type": "ui_gauge",
        "z": "1ea9d5a0268cb260",
        "name": "",
        "group": "019313c909cf5cc1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "4c8a4b18284ca0d6",
        "type": "ui_text",
        "z": "1ea9d5a0268cb260",
        "group": "019313c909cf5cc1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "bab1fc6247c40495",
        "type": "function",
        "z": "1ea9d5a0268cb260",
        "name": "",
        "func": "msg.payload = parseInt(msg.payload[0]['Aggregate_1'],10);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 360,
        "wires": [
            [
                "43d00f5f9b12d0e3",
                "4c8a4b18284ca0d6"
            ]
        ]
    },
    {
        "id": "21494acd375d9d81",
        "type": "debug",
        "z": "1ea9d5a0268cb260",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "715380a8.42ec7",
        "type": "debug",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 380,
        "wires": []
    },
    {
        "id": "65d2e9d6.5ca5",
        "type": "ui_button",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "group": "c19ad70c257cbd31",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Create",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "create",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "4cd3ef8653a70656"
            ]
        ]
    },
    {
        "id": "a804fab0426ac801",
        "type": "intersystems iris",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 1180,
        "y": 380,
        "wires": [
            [
                "715380a8.42ec7",
                "bb0d057356ca5f2e"
            ]
        ]
    },
    {
        "id": "7724b0c3580f8ea1",
        "type": "template",
        "z": "39ac75246186f68c",
        "name": "TABLE",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DROP TABLE \"access\"",
        "output": "str",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "6069649c75a95958"
            ]
        ]
    },
    {
        "id": "8f1cbff8a58b2835",
        "type": "template",
        "z": "39ac75246186f68c",
        "name": "TABLE",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "CREATE TABLE \"access\" (\n\"no\" INT NULL AUTO_INCREMENT PRIMARY KEY,\n\"date\" TIMESTAMP DEFAULT Current_Timestamp,\n\"room\" INT NULL,\n\"id\" INT NULL)",
        "output": "str",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "49b7cf927e386b70"
            ]
        ]
    },
    {
        "id": "275dfd558309004f",
        "type": "template",
        "z": "39ac75246186f68c",
        "name": "DELETE",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "DELETE FROM \"access\" WHERE \"no\" = (\nSELECT TOP 1 \"no\" \nFROM \"access\" ORDER BY \"no\" DESC)",
        "output": "str",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "54de784f7cde1823"
            ]
        ]
    },
    {
        "id": "273e36fb10977c07",
        "type": "template",
        "z": "39ac75246186f68c",
        "name": "UPDATE",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "UPDATE \"access\" SET \"room\"='602' \nWHERE \"no\" = (\n    SELECT top 1 \"no\" \n    FROM \"access\" \n    ORDER BY \"date\" DESC\n)",
        "output": "str",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "3a164f918bbc4b07"
            ]
        ]
    },
    {
        "id": "22e523e3ba44a288",
        "type": "template",
        "z": "39ac75246186f68c",
        "name": "COUNT",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT COUNT(*) AS cnt FROM \"access\"",
        "output": "str",
        "x": 420,
        "y": 500,
        "wires": [
            [
                "12306ea6b69d57c3"
            ]
        ]
    },
    {
        "id": "b026a9e86363fe27",
        "type": "template",
        "z": "39ac75246186f68c",
        "name": "SELECT",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT TOP {{limit}} * \nFROM \"access\" \nORDER BY \"date\" DESC",
        "output": "str",
        "x": 420,
        "y": 560,
        "wires": [
            [
                "d2c039515357b0d4"
            ]
        ]
    },
    {
        "id": "ddf15e9e93d0edd6",
        "type": "template",
        "z": "39ac75246186f68c",
        "name": "INSERT",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "INSERT INTO \"access\" (\"room\", \"id\") \nVALUES ('{{room}}', '{{id}}')",
        "output": "str",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "f5d4d8998327ccde"
            ]
        ]
    },
    {
        "id": "7d835454d0ee8a2a",
        "type": "template",
        "z": "1ea9d5a0268cb260",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select count(*) from ens.messageheader",
        "output": "str",
        "x": 340,
        "y": 360,
        "wires": [
            [
                "7e52b9059ce6c575"
            ]
        ]
    },
    {
        "id": "c0c4842d5d8cc73a",
        "type": "ui_text_input",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "label": "SQL Table name",
        "tooltip": "",
        "group": "c19ad70c257cbd31",
        "order": 1,
        "width": 16,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 380,
        "y": 500,
        "wires": [
            [
                "4f9edab0c52dbb5e"
            ]
        ]
    },
    {
        "id": "0d024f25ca635aa7",
        "type": "ui_button",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "group": "c19ad70c257cbd31",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Check",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "check",
        "payload": "tablename",
        "payloadType": "flow",
        "topic": "",
        "topicType": "str",
        "x": 730,
        "y": 500,
        "wires": [
            [
                "bb0d057356ca5f2e"
            ]
        ]
    },
    {
        "id": "6df0501490f1f789",
        "type": "inject",
        "z": "d3e5690d3717bcbf",
        "name": "Initial buttons state",
        "props": [
            {
                "p": "enabled",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "0d024f25ca635aa7",
                "65d2e9d6.5ca5"
            ]
        ]
    },
    {
        "id": "9e9cd4c6508fa4aa",
        "type": "inject",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "enabled",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "c0c4842d5d8cc73a"
            ]
        ]
    },
    {
        "id": "4f9edab0c52dbb5e",
        "type": "change",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tablename",
                "pt": "flow",
                "to": "$match(payload, /\\./) ? payload : $join(['SQLUser.',payload])",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload != ''",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 500,
        "wires": [
            [
                "0d024f25ca635aa7"
            ]
        ]
    },
    {
        "id": "882d67686fe40577",
        "type": "template",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT \ncolumn_name, \ndata_type, \nauto_increment, \nprimary_key, \nis_nullable \n\nFROM INFORMATION_SCHEMA.columns \nWHERE String(Table_schema,'.',TABLE_NAME ) = '{{tablename}}'\n",
        "output": "str",
        "x": 1060,
        "y": 500,
        "wires": [
            [
                "bd52b0fe26821bb3"
            ]
        ]
    },
    {
        "id": "bd52b0fe26821bb3",
        "type": "intersystems iris",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 860,
        "y": 600,
        "wires": [
            [
                "a343f1df690d8d62",
                "df8b49e9cbfb1ac2",
                "15c0238dbc20d030",
                "7e70e6c6588ca80f"
            ]
        ]
    },
    {
        "id": "a343f1df690d8d62",
        "type": "function",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "func": "if (!msg.payload.length) {\n    return [null, {enabled: true}];\n}\nmsg.payload = 'Table already exists';\nmsg.topic = '';\nreturn [msg, {enabled: false}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 600,
        "wires": [
            [],
            [
                "65d2e9d6.5ca5"
            ]
        ]
    },
    {
        "id": "df8b49e9cbfb1ac2",
        "type": "change",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "columns",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "15c0238dbc20d030",
        "type": "ui_template",
        "z": "d3e5690d3717bcbf",
        "group": "c19ad70c257cbd31",
        "name": "Columns",
        "order": 11,
        "width": 20,
        "height": 12,
        "format": "<table style=\"width:100%\">\n  <tr>\n    <th>Column Name</th> \n    <th>Data Type</th>\n    <th>Nullable</th>\n    <th>Primary</th>\n    <th>Auto Increment</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{x.COLUMN_NAME}}</td>\n    <td>{{x.DATA_TYPE}}</td> \n    <td><center><input type='checkbox' ng-checked=\"x.IS_NULLABLE == 'YES'\"></center></td> \n    <td><center><input type='checkbox' ng-checked=\"x.PRIMARY_KEY == 'YES'\"></center></td> \n    <td><center><input type='checkbox' ng-checked=\"x.AUTO_INCREMENT == 'YES'\"></center></td> \n  </tr>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "7e70e6c6588ca80f",
        "type": "debug",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 720,
        "wires": []
    },
    {
        "id": "c0b72b3326024cb6",
        "type": "ui_dropdown",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Data Type",
        "group": "c19ad70c257cbd31",
        "order": 5,
        "width": 10,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "INT",
                "type": "str"
            },
            {
                "label": "",
                "value": "VARCHAR",
                "type": "str"
            },
            {
                "label": "",
                "value": "TIMESTAMP",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "type",
        "topicType": "str",
        "className": "",
        "x": 370,
        "y": 780,
        "wires": [
            [
                "580a3f81f3d954e9"
            ]
        ]
    },
    {
        "id": "bbcbddf701736db6",
        "type": "ui_text_input",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "label": "Column Name",
        "tooltip": "",
        "group": "c19ad70c257cbd31",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "name",
        "sendOnBlur": true,
        "topicType": "str",
        "x": 380,
        "y": 740,
        "wires": [
            [
                "580a3f81f3d954e9"
            ]
        ]
    },
    {
        "id": "7a87b907e3db951a",
        "type": "ui_switch",
        "z": "d3e5690d3717bcbf",
        "name": "is nullable",
        "label": "",
        "tooltip": "Nullable",
        "group": "c19ad70c257cbd31",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "nullable",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "580a3f81f3d954e9"
            ]
        ]
    },
    {
        "id": "aaecc9d7b315b79e",
        "type": "ui_switch",
        "z": "d3e5690d3717bcbf",
        "name": "primary key",
        "label": "",
        "tooltip": "Primary Key",
        "group": "c19ad70c257cbd31",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "primary",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 860,
        "wires": [
            [
                "580a3f81f3d954e9"
            ]
        ]
    },
    {
        "id": "2252a18febb5768d",
        "type": "ui_switch",
        "z": "d3e5690d3717bcbf",
        "name": "auto increment",
        "label": "",
        "tooltip": "Auto Increment",
        "group": "c19ad70c257cbd31",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "increment",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 380,
        "y": 900,
        "wires": [
            [
                "580a3f81f3d954e9"
            ]
        ]
    },
    {
        "id": "9e6097b2dad50b0e",
        "type": "function",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "func": "msg.column = msg.column || {};\nmsg.column[msg.topic] = msg.payload;\nvar tablename = msg.tablename\nvar {name, type, nullable, primary, increment} = msg.column;\nmsg.query = `ALTER TABLE ${tablename} ADD COLUMN \"${name}\" ${type} ${nullable?'NULL':'NOT NULL'} ${increment?'AUTO_INCREMENT':''} ${primary?'PRIMARY KEY':''}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 820,
        "wires": [
            [
                "7ad63de607593d2d",
                "cd503b690649581d"
            ]
        ]
    },
    {
        "id": "580a3f81f3d954e9",
        "type": "change",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "column",
                "pt": "msg",
                "to": "column",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "tablename",
                "pt": "msg",
                "to": "tablename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 820,
        "wires": [
            [
                "9e6097b2dad50b0e"
            ]
        ]
    },
    {
        "id": "72da78d1b62f9084",
        "type": "debug",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 820,
        "wires": []
    },
    {
        "id": "7ad63de607593d2d",
        "type": "change",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "column",
                "pt": "flow",
                "to": "column",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "flow",
                "to": "query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 820,
        "wires": [
            [
                "72da78d1b62f9084"
            ]
        ]
    },
    {
        "id": "cd503b690649581d",
        "type": "ui_text",
        "z": "d3e5690d3717bcbf",
        "d": true,
        "group": "c19ad70c257cbd31",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.query}}",
        "layout": "row-left",
        "className": "",
        "x": 950,
        "y": 860,
        "wires": []
    },
    {
        "id": "e0af8e06566f2c9e",
        "type": "ui_button",
        "z": "d3e5690d3717bcbf",
        "name": "add",
        "group": "c19ad70c257cbd31",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "add",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 980,
        "wires": [
            [
                "fa3318f75cf8ae99",
                "2454397288e16ee3"
            ]
        ]
    },
    {
        "id": "fa3318f75cf8ae99",
        "type": "function",
        "z": "d3e5690d3717bcbf",
        "name": "clear",
        "func": "\nreturn {\n    \"payload\": ''\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 820,
        "wires": [
            [
                "bbcbddf701736db6",
                "c0b72b3326024cb6",
                "7a87b907e3db951a",
                "aaecc9d7b315b79e",
                "2252a18febb5768d"
            ]
        ]
    },
    {
        "id": "bb0d057356ca5f2e",
        "type": "change",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tablename",
                "pt": "msg",
                "to": "tablename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 500,
        "wires": [
            [
                "882d67686fe40577"
            ]
        ]
    },
    {
        "id": "3f7e01e3a25193fe",
        "type": "intersystems iris",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "InterSystemsIRISConfig": "aa199874e4c9e9fa",
        "x": 900,
        "y": 980,
        "wires": [
            [
                "bb0d057356ca5f2e"
            ]
        ]
    },
    {
        "id": "2454397288e16ee3",
        "type": "change",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "query",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 980,
        "wires": [
            [
                "3f7e01e3a25193fe"
            ]
        ]
    },
    {
        "id": "4cd3ef8653a70656",
        "type": "change",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tablename",
                "pt": "msg",
                "to": "tablename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "19aa9e2c79bd793b"
            ]
        ]
    },
    {
        "id": "19aa9e2c79bd793b",
        "type": "template",
        "z": "d3e5690d3717bcbf",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "CREATE TABLE {{tablename}} ( \n    id INT AUTO_INCREMENT PRIMARY KEY\n)",
        "output": "str",
        "x": 940,
        "y": 380,
        "wires": [
            [
                "a804fab0426ac801"
            ]
        ]
    }
]